.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: var(--colour-dark);
  border-radius: 3px 0 0 3px;
  color: var(--colour-inactive-tag);
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

// Avoid using important on border-left-property
.tag.tag--active {
  color:var(--colour-lite);
  background-color: var(--colour-lime);
  &::after {
    border-left-color: var(--colour-lime);
  }
  &::before {
    background: var(--colour-green);
  }
}
.tag::before {
  background: var(--colour-inactive-tag);
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: var(--colour-inactive);
  border-bottom: 13px solid transparent;
  border-left: 10px solid var(--colour-dark);
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: var(--colour-lime);
  color: var(--colour-lite);
}

.tag:hover::after {
  border-left-color: var(--colour-lime);
}