.app-header {
  position: fixed;
  top: 0;
  left:0 ;
  right: 0;
  z-index: var(--zindex_notification);
  background: var(--colour-dark);
  border-bottom: 5px solid var(--colour-lime);

  .title {
    color : var(--colour-orange);
    padding-left: 100px;

    span {
      color: var(--colour-lime);
      font-size: var(--sizing-font-extra);
    }
  }
}
.navbar {
  text-align: right;
  padding-right: 100px;

  &__menu {
    position: relative;
    list-style-type: none;
    display:inline-block;
    margin: 15px auto;

    &::after {
      content: '';
      display: block;
      background: var(--colour-orange);
      margin-top: 5px;
      height: 1px;
    }

    &__item {
      display: inline-block;

      a {
        color: #F2B134;
        padding: 5px 15px;
        text-decoration: none;
        outline: none;

        &:hover {
          color: var(--colour-lite);
        }
      }
    }
  }
}