.btn {
  border: none;
  outline: none;
  
  &--close {
    background: red;
    color: var(--colour-lite);
    padding: 10px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }
}