@import './variables.scss';
// Custom Scrollbar
//----------------------------------------------------------------


body {
    &::-webkit-scrollbar {
        width: 1em;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(79, 185, 159, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--colour-green);
        outline: 1px solid slategrey;
    }
}

html,body,#root {
    height: 100%;
}
.horizontal {
    overflow-x: scroll; 
}
.h-100 {
    height: 100%;
}

.hidden {
    display: none !important;
}

.content {
   margin-top: calc(var(--sizing-extra));
}

.sidebar {
    background: var(--colour-inactive);
}