// Colour Defs
//----------------------------------------------------------------

:root {

  --colour-dark: #112F41;
  --colour-green: #068587;
  --colour-lime: #4FB99F;
  --colour-yellow: #F2B134;
  --colour-orange: #ED553B;
  --colour-default: black;
  --colour-lite: white;
  --colour-inactive: #EEE;
  --colour-inactive-tag: #bbb;

// Sizing
//----------------------------------------------------------------

  --sizing-tiny: 5px;
  --sizing-sml: 10px;
  --sizing-med: 15px;
  --sizing-lrg: 20px;
  --sizing-lrg: 30px;
  --sizing-extra: 100px;


// Fonts
//----------------------------------------------------------------


// Font Sizing
//----------------------------------------------------------------

--sizing-font-tiny: 8px;
--sizing-font-sml: 12px;
--sizing-font-med: 14px;
--sizing-font-lrg: 16px;
--sizing-font-lrg: 18px;
--sizing-font-extra: 20px;


// Z-INDEX
//----------------------------------------------------------------

--zindex_header: 950;
--zindex_header-buttons: 960;
--zindex_modal: 1050;
--zindex_modal-close: 1060;
--zindex_search: 1065;
--zindex_mask: 1070;
--zindex_modal-content: 1075;
--zindex_notification: 1080;


// MISC
//-----------------------------------------------------------------

  --movie-bg: url(`data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMj
  AwMC9zdmcnIHdpZHRoPSc0MDAnIGhlaWdodD0nNDAwJyB2aWV3Qm94PScwIDAgNDAwIDQwMCc+Cgk8ZGVmcz4KCQk8
  cGF0dGVybiBpZD0nYmx1ZXN0cmlwZScgcGF0dGVyblVuaXRzPSd1c2VyU3BhY2VPblVzZScgeD0nMCcgeT0nMCcgd2
  lkdGg9JzMuOScgaGVpZ2h0PSczLjknIHZpZXdCb3g9JzAgMCA0IDQnID4KCQkJPGxpbmUgeDE9Jy0xJyB5MT0nL
  TEnIHgyPSc0JyB5Mj0nNCcgc3Ryb2tlPScjOTIzODI1JyBzdHJva2Utd2lkdGg9JzEnLz4KCQkJPGxpbmUgeDE9J
  zMnIHkxPSctMScgeDI9JzUnIHkyPScxJyBzdHJva2U9JyM5MjM4MjUnIHN0cm9rZS13aWR0aD0nMScvPgoJCQk8
  bGluZSB4MT0nLTEnIHkxPSczJyB4Mj0nMScgeTI9JzUnIHN0cm9rZT0nIzkyMzgyNScgc3Ryb2tlLXdpZHRoPS
  cxJy8+CgkJPC9wYXR0ZXJuPiAKCQk8ZmlsdGVyIGlkPSdmdXp6JyB4PScwJyB5PScwJz4KCQkJPGZlVHVyYnVsZW5
  jZSB0eXBlPSd0dXJidWxlbmNlJyBiYXNlRnJlcXVlbmN5PScuNScgbnVtT2N0YXZlcz0nMicgc3RpdGNoVGlsZXM9
  J3N0aXRjaCcvPgoJCQk8ZmVDb252b2x2ZU1hdHJpeCBvcmRlcj0nMywzJyBrZXJuZWxNYXRyaXg9JzAsLS4yNSwwL
  C0uMjUsMiwtLjI1LDAsLS4yNSwwJy8+CgkJPC9maWx0ZXI+Cgk8L2RlZnM+Cgk8cmVjdCB3aWR0aD0nMTAwJScgaGV
  pZ2h0PScxMDAlJyBmaWxsPSd1cmwoI2JsdWVzdHJpcGUpJy8+Cgk8cmVjdCB3aWR0aD0nMTAwJScgaGVpZ2h0PScx
  MDAlJyBmaWx0ZXI9J3VybCgjZnV6eiknIG9wYWNpdHk9JzAuMjInLz4KPC9zdmc+`);

};