.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
  margin-bottom: 15px;
  width: 20%;
  padding: 5px;
  
  &__title {
    color: #222;
    display: block;
    color: var(--colour-green);
    padding: 15px;
    font-size: var(--sizing-font-lrg);
  }

  &__image {
    img {
      display: block;
      max-width:100%;
      width: 100%;
      height: auto;
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #000;
        background-image: var(--movie-bg);
        opacity: 0.8;
        z-index: 999;
      }
    }
  }
  &__meta {
    padding: 5px;

    &__genres {
      .tag {
        background: var(--colour-green);
        color: var(--colour-lite);
        
        &::after {
          background: var(--colour-lite);
          border-left-color: var(--colour-lime);
        }
        &::before {
          background: var(--colour-lite);
        }
      }
    }

    &__details {
      list-style: none;
      padding-left: 0;

      li {
        padding-left: 5px;
        margin-bottom: 3px; 
      }
    }
  }
  &__wrap {
    background: var(--colour-lite);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
    height: 100%;

       &:hover {
         .card__content {
          display: block;
          display: none;
         }
       }
  }
  &__content {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    padding: 15px;
    background: #EEE;
    max-height: 100%;
    overflow-y: auto; 
    z-index: var(--zindex_mask);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
    min-height: 100%;
    background: var(--colour-dark);
    color: var(--colour-yellow);
  }
};
