lea.rodal {
  z-index: 1090 !important; // FIXME: Add to variables.scss
  -webkit-backface-visibility: hidden; // Fix for Android webkit browsers
}

// Mask
//----------------------------------------------------------------

.rodal-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  opacity: 0.8;
  transition: background 0.2s ease;
  z-index: var(--zindex_modal);
  pointer-events: none;
}

.rodal-close {
  position: absolute;
  right: 0;
  top: 15px;
  width: 50px;
  height: 52px;
  border-radius: 50%;
  z-index: var(--zindex_modal);
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: red;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.rodal-dialog {
  width: 90% !important;
  height: auto !important;
  margin-bottom: 90px;
  margin-top: 90px;
  box-sizing: border-box;
  padding: 35px;
  border-radius: 0;
  box-shadow: none;
  z-index: var(--zindex_modal-content);
  border-radius:10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}