.filters {
  top: var(--sizing-extra);
  position: sticky;
  width: 100% !important;

  &__heading {
    background: var(--colour-dark);
    color: var(--colour-lime);
    padding: 10px 20px;
    border-radius: 25px;
    margin-bottom: 70px;
  }

  .tags {
    li span {
      cursor: pointer;
    }
  }

  .rangeslider-horizontal {
    margin-bottom: 65px;

    .rangeslider {
      &__fill {
        background-color: var(--colour-green);
      }
      &__handle {
        display: table;
        width: 40px;
        height: 40px;
        outline: none;

        &-tooltip {
          top: -50px;
          background: var(--colour-lime);

          &::after {
            border-top-color: var(--colour-lime);
          }
        }

        &-label{
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          color: var(--colour-green);
        }

        &:after {
          display: none;
        }
      }
    }
  }

  .btn {
    margin-top: var(--sizining-lrg);
  }
}

